
.sign-in-via{
	text-transform: uppercase;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.sign-in-via h1 {
	font-weight: 600;
    font-size: 25px;
    color: #383fcf;
    text-align: left;
    text-transform: uppercase;
}

/*.register {
    margin: auto;
    width: 50%;
    padding: 10px;
    height: 100%;
}

.register h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}*/

.MyContainer {
    position:relative;
    /*margin: 10px auto;
    width: 80%;*/
    border-radius: 20px !important; 
    /*height: 65%; */
    /*margin: 30px 0; */
    background: #f66437;
    height: 495px;
    cursor: pointer;
    margin: 0 30px;
}

.centered {
    background: #f66437;
  text-align: center;
  position:absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  height: 195px; /*requires explicit height*/
}

.centered h1 {
color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}

.login-centered {
    background: #f66437;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 60px;
    padding: 16px;
    width: 350px;
    border-radius: 29px;
    cursor: pointer;
}
.login-centered h1 {
color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}

.card-logo {
     margin: 60px;
}