<!-- <div *ngIf="user">
  <p>
    {{greeting}} {{user.username}}
  </p>
  <p>
    {{message}}
  </p>
</div>
<app-update-image></app-update-image>
<app-update-password></app-update-password> -->


 <div fxLayout="row wrap" class="row">
   <div class="col-mat-12 col-lg-12">
    <!-- <div *ngIf="user">
  <p>
    {{greeting}} {{user.employee_id}}
  </p>
  <p>
    {{message}}
  </p>
</div> -->
      <div class="row">
         <div class="col-mat-8 col-lg-8">
            <div class="row">
               <div class="col-mat-4 col-lg-4">
                  <img style="    padding: 70px 10px;
                     width: 150px;
                     float: left;" src="assets/images/on-time/on-time.jpg" alt="" />
               </div>
            </div>
         </div>
         <div class="col-mat-4 col-lg-4">
            <div class="company-name" style="height:100%">
               <p>Company Name</p>
            </div>
         </div>
      </div>
      <div fxLayout="row wrap">
         <img class="home-img" src="assets/images/on-time/home.svg" alt="" />
      </div>

   </div>
</div>