 <div fxLayout="row wrap" class="row" style="margin: 0">
   <div class="col-mat-8 col-lg-8" align="center">
      <div class="row">
         <div class="col-mat-8 col-lg-8">
            <div class="row">
               <div class="col-mat-4 col-lg-4">
                  <img style="    padding: 70px 10px;
                     width: 150px;
                     float: left;" src="assets/images/on-time/on-time.jpg" alt="" />
               </div>
            </div>
         </div>
         <div class="col-mat-4 col-lg-4">
            <div class="company-name" style="height: 100%">
               <p>Company Name</p>
            </div>
         </div>
      </div>


<form>
<div class="row form">
<!-- <div class="col-mat-6 col-lg-6">
  <label for="Id" class="floatLabel">Id</label>
  <input class="textbox"  type="text" placeholder="Id" [(ngModel)]="user.employee_id" [ngModelOptions]="{standalone: true}">
</div> -->
   <div class="col-mat-12 col-lg-12">
  <label for="Employee Id" class="floatLabel">Employee Id</label>
  <input class="textbox"  type="text" placeholder="Employee Id" [(ngModel)]="employee_id" [ngModelOptions]="{standalone: true}">
</div>
<!-- <div class="col-mat-6 col-lg-6">
    <label for="Password" class="floatLabel">Password</label>
  <input class="textbox"  type="text" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
</div> -->
<div class="buttons" style="padding: 0px 10px;">
  <button class="submit-button" (click)="login()"><h1>Loging</h1></button>
</div>
</div>


</form>
   </div>
   <div class="col-mat-4 col-lg-4" align="center">
    <mat-card class="login-method camera" [hidden]="loginMethod!=='camera'">
    <mat-card-content>
        <img class="camera-snapshot-imageUrl" [hidden]="!imageUrl" [src]="imageUrl"/>    
        <app-camera-snapshot [imageUrl]="imageUrl" (imageCreated)="imageChanged($event)"></app-camera-snapshot>
    </mat-card-content>
</mat-card>
<mat-card class="login-method upload" [hidden]="loginMethod!=='upload'">
    <mat-card-content>
        <img class="camera-snapshot-imageUrl" [hidden]="!imageUrl" [src]="imageUrl"/>    
        <app-image-picker [imageUrl]="imageUrl" (imagePicked)="imageChanged($event)"></app-image-picker>    
    </mat-card-content>
</mat-card>
   </div>
</div>