<!-- <mat-card>
  <mat-card-title>Change password</mat-card-title>
  <mat-card-content>
    <mat-input-container>
      <input matInput placeholder="Password" type="password" [(ngModel)]="oldPassword">
    </mat-input-container>
    <mat-input-container>
      <input matInput placeholder="New password" type="password" [(ngModel)]="newPassword">
    </mat-input-container>
    <mat-input-container>
      <input matInput placeholder="Confirm new password" type="password" [(ngModel)]="newPasswordConfirm">
    </mat-input-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="updatePassword()" color="primary">Change password</button>
  </mat-card-actions>
</mat-card> -->