.signup3-wrap {
  width: 100%;
  height: 100vh;
  background: url('assets/images/backgrounds/trianglify-1.png');
  z-index: -1;
}

.signup3-form-holder {
  position: absolute;
  width: 380px;
  height: 100vh;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffffff;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.signup3-form {
  padding: 60px 20px 5px 20px;
}

.signup3-header {
  text-align: center;
  padding-bottom: 30px;
}
