      <ngx-datatable
      class="material ml-0 mr-0 server-scrolling-demo"
      [loadingIndicator]="isLoading"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="headerHeight"
      [scrollbarH]="true"
      [scrollbarV]="true"
      [virtualization]="true"
      [rowHeight]="rowHeight"
      (scroll)="onScroll($event.offsetY)">

      <ngx-datatable-column *ngFor="let column of columns" name={{column.name}} prop=
          {{column.prop}} width={{column.width}}>
         <ng-template let-value="value" ngx-datatable-cell-template>
         <div *ngIf="column.cellTemplate == false; else elseBlock">{{value}}</div>
          <ng-template #elseBlock>
           <div [ngSwitch]="column.prop">
           <div *ngSwitchDefault>{{value}}</div>
           </div>
          </ng-template>
         </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="Type" *ngFor="let column of columns" [flexGrow]="1">
         <ng-template let-value="value" ngx-datatable-cell-template>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
               <!-- <img src="../../../../assets/images/chartImages/{{row?.visualization_type}}.png" alt="" class="avatar-xs mr-05"> -->
               {{ value }}
            </div>
         </ng-template>
      </ngx-datatable-column>

      
      <!-- <ngx-datatable-column name="Name" [flexGrow]="1">
         <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.title }}
         </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Type" [flexGrow]="1">
         <ng-template let-row="row" ngx-datatable-cell-template>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
               <img src="../../../../assets/images/chartImages/{{row?.visualization_type}}.png" alt="" class="avatar-xs mr-05">
               {{ row?.visualization_type }}
            </div>
         </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Department" [flexGrow]="1">
         <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.department_name }}
         </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Published" [flexGrow]="1" [sortable]="true" prop="private">
      <ng-template let-row="row" ngx-datatable-cell-template>
         <mat-checkbox disableRipple=true (change)="publishVisualization(row)" [(ngModel)]="row.published"></mat-checkbox>
      </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *ngIf="showEditButton || showDeleteButton" name="Actions" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
         <button *ngIf="showEditButton" mat-icon-button mat-sm-button color="primary" class="mr-1" routerLink="/visualization/{{row.visualization_type}}/{{row.datasource_id}}/{{row.visualization_id}}">
            <mat-icon>edit</mat-icon>
         </button>
         <button *ngIf="showDeleteButton" mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)">
         <mat-icon>delete</mat-icon>
         </button>
      </ng-template>
      </ngx-datatable-column> -->
      </ngx-datatable>