  <mat-sidenav-container>
  <!-- <mat-sidenav #sidenav mode="over"> -->
    <!-- sidenav content -->
  <!--   <mat-nav-list>
      <mat-list-item (click)="navigateTo(['register'])" *ngIf="!user">
        <a mat-line >Register</a>
      </mat-list-item>
      <mat-list-item (click)="navigateTo(['login'])" *ngIf="!user">
        <a mat-line >Login</a>
      </mat-list-item>
      <mat-list-item (click)="navigateTo(['home'])" *ngIf="user != null">
        <a mat-line >Home</a>
      </mat-list-item>
      <mat-list-item (click)="logout()" *ngIf="user != null">
        <a mat-line >Logout</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav> -->

  <div class="wrapper">
  <div class="main_container">
      <div class="sidebar">
          <div class="sidebar__inner">
            <ul>
              <li *ngIf="user != null">
                <a (click)="navigateTo(['home'])" [ngClass]="{'active': pageRoute=='home'}">
                  <i style="font-size: 30px; height: 31px;" class="material-icons-outlined">home_max</i>
                </a>
              </li>
              <li *ngIf="!user">
                <a (click)="navigateTo(['smile'])" [ngClass]="{'active': pageRoute=='smile'}">
                  <i style="font-size: 30px; height: 31px;" class="material-icons-outlined">dashboard</i>
                </a>
              </li>
              <li *ngIf="!user">
                <a (click)="navigateTo(['register'])" [ngClass]="{'active': pageRoute=='register'}">
                  <i style="font-size: 30px; height: 31px;" class="material-icons-outlined">app_registration</i>
                </a>
              </li>
              <li *ngIf="!user">
                <a (click)="navigateTo(['login'])" [ngClass]="{'active': pageRoute=='login'}">
                  <i style="font-size: 30px; height: 31px;" class="material-icons-outlined">login</i>
                </a>
              </li>
              <li *ngIf="user != null">
                <a (click)="logout()" [ngClass]="{'active': pageRoute=='login'}">
                  <i style="font-size: 30px; height: 31px;" class="material-icons-outlined">logout</i>
                </a>
              </li>
            </ul>
          </div>
      </div>
  </div>
  
</div>  
  
   <!-- <mat-toolbar color="primary">
      <button class="app-icon-button" (click)="sidenav.toggle()">
        <i class="material-icons app-toolbar-menu">menu</i>
      </button>
    <a (click)="navigateToHomePage()">
      {{title}}
      </a>
      <span class="app-toolbar-filler"></span>
    </mat-toolbar> -->
    <div class="pageContent">
      <router-outlet></router-outlet>
    </div>
    <app-block-ui #blockUI></app-block-ui>
  </mat-sidenav-container>