<div class="camera-snapshot">
  <mat-icon>camera</mat-icon>
  <canvas width="500" height="380" #canvas hidden="true"></canvas>
  <video [hidden]="imageUrl" width="640" height="495" autoplay #video allFaces></video>
</div> 
 <button class="submit-button" (click)="getCameraImage()" style="position: absolute;
    bottom: -9%;
    left: 0%;"><h1>Add Face</h1></button>