/*
 *
 *   EGRET - Angular Material Design Admin Template
 *
 *
*/

// Third pirty style files
// Sidebar Scroll
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
// Flag icon
@import '~flag-icon-css/css/flag-icon.min.css';

//  star-rating styles (Used in Shop app)
@import "~css-star-rating/scss/star-rating.scss";
// Data Table
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

// Rich Text Editor
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
// Drag and Drop
@import '~dragula/dist/dragula.css';
// Calendar
@import '~angular-calendar/css/angular-calendar.css';

// User tour
@import '~hopscotch/dist/css/hopscotch.min.css';
// Page loader Topbar
@import '../../vendor/pace/pace-theme-min.css';

// Highlightjs theme
// @import '~highlight.js/styles/darcula.css';
// @import '~highlight.js/styles/github.css';
@import '~highlight.js/styles/github-gist.css';


// Main Variables File
@import "scss/variables";

@import "scss/mixins/mixins";
@import "scss/colors";

@import "scss/animations";

// Open _themes.scss and remove unnecessary theme files
@import "scss/themes/themes";

@import "scss/utilities/utilities";
@import "scss/components/components";
@import "scss/palette";


@import "scss/page-layouts";

// Open _main.scss and keep files which are required for your current layout.
@import "scss/main/main";

// Open _views.scss and remove unnecessary view related files
@import "scss/views/views";

@import '~ngx-toastr/toastr';
@import '~bootstrap/dist/css/bootstrap-grid';
@import "~font-awesome/css/font-awesome.min.css";
@import '~@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$button: rgba(0, 0, 0, 0.87);
html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

html, body, mat-sidenav-container {
    height: 100%;
}

.mat-sidenav-focus-trap>.cdk-focus-trap-content {
    overflow: hidden;
}

nav .mat-tab-links {
    display: block;
    text-align: center;
}

.camera-snapshot-imageUrl {
    width: 640px;
    height: 380px;
    position: absolute;
    left: 0%;
    top: 8%;
}

// nav .mat-tab-links .mat-tab-link {
//     display: inline-block;
// }

*[hidden] {
    display: none;
}

mat-card[hidden] {
    display: none;
}

mat-card {
    text-align: center;
}

mat-card-content {
    position: relative;
}

mat-card.login-method mat-card-content {
    min-height:520px;
}

mat-card-content img {
    position: relative;
}

mat-card.login-method {
    min-height: 630px;
    margin-top: 45px;
}

mat-card.login-method mat-icon {
    position: absolute;
    width: 250px;
    left: 50%;
    transform:translate(-50%);
    font-size:250px;
    z-index: 0;
    opacity: 0.3;
    cursor: pointer;
    z-index: 0;
    top: 25%;
}

mat-card.login-method mat-icon.small {
    transform:none;
    font-size:50px;
    left: 0;
    width: 50px;
    opacity: 1;
    z-index: 2;
}

.camera-snapshot, .image-picker {
    // cursor: pointer;
}

.buttons {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

// mat-input-container {
//     width: 100%;
// }

a[mat-tab-link].active {
    background-color: rgba(0,0,0,0.1);
}

mat-card {
    margin-top: 20px;
}

mat-card img, video {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 1;
}

mat-toolbar button, mat-toolbar button:focus {
    background: none;
    border: none;
    color: white;
    outline: none;
}
.form h2 {
    margin:0 0 50px 0;
    padding:10px;
    text-align:center;
    font-size:30px;
    color:darken(#e5e5e5, 50%);
    border-bottom:solid 1px #e5e5e5;
  }
  .form p {
    margin: 0 0 3em 0;
    position: relative;
  }
  .form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
  }
.company-name{
    text-transform: uppercase;
    margin: auto;
    height: 33%;
}

.company-name p{
    font-weight: 600;
    color: #383fcf;
    font-size: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sign-in-via{
    text-transform: uppercase;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.sign-in-via h1 {
    font-weight: 600;
    font-size: 25px;
    color: #383fcf;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
}
 .form div {
    margin: 30px 0;
  }

.floatLabel {
      top: -11px;
      background-color: rgba(255,255,255,0.8);
      font-size: 14px;
    }

   .form input[type="text"],
  .form input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    /*font-size: 14px;*/
    padding: .8em .5em;
    border-radius: 2px;
  }
  .form input[type="text"]:focus,
  .form input[type="password"]:focus {
    background: #fff
  }
  .form span {
    display:block;
    background: #F9A5A5;
    padding: 2px 5px;
    color: #666;
  }
  .form input[type="submit"] {
    background: $button;
    box-shadow: 0 3px 0 0 darken($button, 10%);
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2em;
    line-height: 1.6em;
    margin: 2em 0 0;
    outline: none;
    padding: .8em 0;
    text-shadow: 0 1px #68B25B;
  }
  .form input[type="submit"]:hover {
    background: rgba(148,175,101,1);
    text-shadow:0 1px 3px darken($button, 30%);
  }
  .form input[type="submit"]:hover {
    
  }
  .form label{
    position: absolute;
    left: 25px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 0px 10px;
    font-weight: 400;
    background-color: rgba(255,255,255,0);
    // @include transition(color .3s, top .3s, background-color .8s);
    top: -11px;
      background-color: rgba(255,255,255,0.8);
      font-size: 14px;

    }


    .submit-button {
        margin: auto;
    height: 60px;
    padding: 18px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    background: #f66437 !important;
    cursor: pointer;
    }

    .submit-button h1 {
        color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    }
